---
import Content from '../layouts/Content.astro'
---

<Content title="Datenschutzerklärung">
  <h2>Datenschutzerklärung</h2>

  <h3>A. Einleitung und Begriffe</h3>

  <h4>1. Allgemein</h4>
  <p>
    Mit dem Betrieb des Real-o-Maten mit der URL real-o-mat.de (im Folgenden
    „Webseite“ genannt) verarbeiten wir personenbezogene Daten. Diese werden von
    uns vertraulich behandelt und nach den geltenden Gesetzen – insbesondere der <a
      target="_blank"
      href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung"
      >Datenschutzgrundverordnung</a
    > (DSGVO), dem <a
      target="_blank"
      href="https://www.gesetze-im-internet.de/bdsg_2018/"
      >Bundesdatenschutzgesetz</a
    > (BDSG) und dem <a
      target="_blank"
      href="https://www.gesetze-im-internet.de/ttdsg/"
      >Gesetz über den Datenschutz und den Schutz der Privatsphäre in der
      Telekommunikation und bei digitalen Diensten</a
    > (TDDDG) – verarbeitet. Mit diesen Datenschutzbestimmungen wollen wir Sie darüber
    informieren, welche personenbezogenen Daten wir von Ihnen erheben, zu welchen
    Zwecken und auf welcher Rechtsgrundlage wir sie verwenden und gegebenenfalls
    wem wir sie offenlegen. Darüber hinaus werden wir Ihnen erklären, welche Rechte
    Ihnen zur Wahrung und Durchsetzung Ihres Datenschutzes zustehen.
  </p>

  <h4>2. Begriffe</h4>
  <p>
    Unsere Datenschutzbestimmungen enthalten Fachbegriffe, die in der DSGVO und
    dem BDSG stehen. Zu Ihrem besseren Verständnis wollen wir diese Begriffe in
    einfachen Worten vorab erklären:
  </p>
  <h5>2.1 Personenbezogene Daten</h5>
  <p>
    „Personenbezogene Daten“ sind alle Informationen, die sich auf eine
    identifizierte oder identifizierbare Person beziehen (<a
      target="_blank"
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX:02016R0679-20160504#id-10c28e5a-6d3f-4086-93e7-748c270d368b"
      >Art. 4 Nr. 1 DSGVO</a
    >). Angaben einer identifizierten Person können z. B. der Name oder die
    E-Mail-Adresse sein. Personenbezogen sind aber auch Daten, bei denen die
    Identität nicht unmittelbar ersichtlich ist, sich aber ermitteln lässt,
    indem man eigene oder fremde Informationen kombiniert und so erfährt um wen
    es sich handelt. Eine Person wird z. B. über die Angabe Ihrer Anschrift oder
    Bankverbindung, Ihres Geburtsdatums oder Benutzernamens, Ihrer IP-Adressen
    und/oder Standortdaten identifizierbar. Relevant sind hier alle
    Informationen, die in irgendeiner Weise einen Rückschluss auf eine Person
    zulassen.
  </p>

  <h5>2.2 Verarbeitung</h5>
  <p>
    Unter einer „Verarbeitung“ versteht <a
      target="_blank"
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX:02016R0679-20160504#id-10c28e5a-6d3f-4086-93e7-748c270d368b"
      >Art. 4 Nr. 2 DSGVO</a
    > jeden Vorgang im Zusammenhang mit personenbezogenen Daten. Dies betrifft insbesondere
    das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die
    Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung,
    Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich
    oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung von
    personenbezogenen Daten.
  </p>

  <h3>B. Verantwortliche und Datenschutzbeauftragte</h3>
  <h4>1. Verantwortliche</h4>
  <p>
    Siehe <a target="_blank" href="https://fragdenstaat.de/impressum/"
      >Impressum</a
    >.
  </p>
  <h4>2. Datenschutzbeauftragte</h4>
  <p>
    Wir haben für unseren Verein eine externe Datenschutzbeauftragte bestellt.
    Sie erreichen sie unter:<br />
    Name: Beata Hubrig<br />
    E-Mail: <a target="_blank" href="mailto:datenschutz@okfn.de"
      >datenschutz@okfn.de</a
    >
  </p>

  <h3>C. Hosting der Webseite</h3>
  <p>
    Unser Hoster erhebt in sog. Logfiles folgende Daten, die Ihr Browser
    übermittelt:
  </p>
  <p>
    IP-Adresse, die Adresse der vorher besuchten Website (Referer
    Anfrage-Header), Datum und Uhrzeit der Anfrage, Zeitzonendifferenz zur
    Greenwich Mean Time, Inhalt der Anforderung, HTTP-Statuscode, übertragene
    Datenmenge, Website, von der die Anforderung kommt und Informationen zu
    Browser und Betriebssystem.
  </p>
  <p>
    Das ist erforderlich, um unsere Website anzuzeigen und die Stabilität und
    Sicherheit zu gewährleisten. Dies entspricht unserem berechtigten Interesse
    im Sinne des Art. 6 Abs. 1 S. 1 lit. f DSGVO.
  </p>
  <p>
    Es erfolgt kein Tracking und wir haben auf diese Daten keinen direkten
    Zugriff.
  </p>
  <p>
    Wir setzen für die Zurverfügungstellung unserer Website folgenden Hoster
    ein:
  </p>
  <p>
    GitHub Inc.<br />
    88 Colin P Kelly Jr St<br />
    San Francisco, CA 94107<br />
    United States
  </p>
  <p>
    Dieser ist Empfänger Ihrer personenbezogenen Daten. Dies entspricht unserem
    berechtigten Interesse im Sinne des Art. 6 Abs. 1 S. 1 lit. f DSGVO, selbst
    keinen Server in unseren Räumlichkeiten vorhalten zu müssen. Serverstandort
    ist USA.
  </p>
  <p>
    Weitere Informationen zu Widerspruchs- und Beseitigungsmöglichkeiten
    gegenüber GitHub finden Sie unter: <a
      target="_blank"
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages"
      >https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages</a
    >
  </p>
  <p>
    Sie haben das Recht der Verarbeitung zu widersprechen. Ob der Widerspruch
    erfolgreich ist, ist im Rahmen einer Interessenabwägung zu ermitteln.
  </p>
  <p>Die Daten werden gelöscht, sobald der Zweck der Verarbeitung entfällt.</p>
  <p>
    Die Verarbeitung der unter diesem Abschnitt angegebenen Daten ist weder
    gesetzlich noch vertraglich vorgeschrieben. Die Funktionsfähigkeit der
    Website ist ohne die Verarbeitung nicht gewährleistet.
  </p>
  <p>
    GitHub hat Compliance-Maßnahmen für internationale Datenübermittlungen
    umgesetzt. Diese gelten für alle weltweiten Aktivitäten, bei denen GitHub
    personenbezogene Daten von natürlichen Personen in der EU verarbeitet. Diese
    Maßnahmen basieren auf den EU-Standardvertragsklauseln (SCCs). Weitere
    Informationen finden Sie unter: <a
      target="_blank"
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1--the-standard-contractual-clauses-processors"
      >https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors</a
    >
  </p>

  <h3>D. Matomo</h3>
  <p>
    FragDenStaat verwendet für real-o-mat.de „Matomo“, eine Webanalysesoftware
    der Innocraft Ltd., 150 Willis St, 6011 Wellington, New Zealand. Matomo ist
    eine Open Source Software, die wir als Dienst selbst betreiben. Wir
    betreiben Matomo ohne den Einsatz von Cookies und ohne sog. Fingerprinting,
    sondern nur auf Basis einer config-ID, die sich alle 24 Stunden ändert. Im
    Rahmen der Webanalyse über Matomo wird Ihre IP-Adresse ausschließlich um die
    letzten drei Stellen gekürzt erfasst, sodass eine Zuordnung nicht möglich
    ist (sogenanntes IP-Masking). Die von Matomo erstellten Statistiken
    beinhalten insbesondere, wie viele Nutzer unsere Website besuchen, aus
    welchem Land der Zugriff erfolgt, welche Unterseiten aufgerufen werden und
    über welche Links oder Suchbegriffe Besucher auf unsere Webseite gelangen.
    Die erfassten Informationen werden an unseren Server übertragen und allein
    dort gespeichert. Eine Weitergabe an Dritte – insbesondere an die Innocraft
    Ltd. – erfolgt nicht. Wir werden die anonymisierten Matomo-Analysedaten auch
    im Rahmen unseres internen FragDenStaat-Dashboards (Ziffer D. 20 der <a
      target="_blank"
      href="https://fragdenstaat.de/datenschutzerklaerung/#-20--fragdenstaat-dashboard"
      >FragDenStaat-Datenschutzerklärung</a
    >) verarbeiten.
  </p>
  <p>
    Die Verarbeitung erfolgt, um die Nutzung des Real-o-Mats auswerten zu
    können. Durch den Verzicht auf Cookies und Fingerprinting können wir zwar
    sehen, wie häufig eine Seite aufgerufen worden ist, wir können aber nicht
    nachvollziehen, wie viele Besuche auf ein identisches Endgerät entfallen.
    Die dadurch gewonnenen Informationen dienen der Verbesserung und
    bedarfsgerechten Gestaltung sowie Resonanzmessung unseres Online-Auftritts.
  </p>
  <p>
    In der Variante von Matomo ohne Cookies und ohne Fingerprinting, lediglich
    mit einer kurzlebigen config-ID, ist die Verarbeitung zur Wahrung der
    überwiegenden berechtigten Interessen des Verantwortlichen erforderlich
    (Art. 6 Abs. 1 lit. f DSGVO). Unser berechtigtes Interesse liegt in dem oben
    benannten Zweck.
  </p>
  <p>
    Sie können der Datenverarbeitung durch Matomo zudem jederzeit widersprechen,
    indem Sie unter 10.4 der <a
      target="_blank"
      href="https://fragdenstaat.de/datenschutzerklaerung/"
      >FragDenStaat-Datenschutzerklärung</a
    > den Haken entfernen und so das Opt-out-Plug-in aktivieren.
  </p>
  <p>
    Die mit Matomo verarbeiteten und gespeicherten Analysedaten werden von uns
    im Übrigen nach zwei Jahren automatisch gelöscht.
  </p>
</Content>
