---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import App from './_index.vue'

const questions = (await getCollection('questions')).map((q) => q.data)
---

<Layout>
  <div class="overflow-x-hidden">
    <App questions={questions} client:only="vue" />
  </div>
</Layout>
