---
import DownloadData from '../components/DownloadData.vue'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const questions = (await getCollection('questions')).map((q) => q.data)
---

<Layout>
  <div class="bg-white p-4 md:p-8">
    <h2>Methodik</h2>
    <h3>Ziel des Real-O-Mat</h3>

    <p>
      Der Real-O-Mat bietet Menschen die Möglichkeit, das tatsächliche
      Abstimmungsverhalten aller Parteien im Bundestag mit den eigenen
      Einstellungen zu ausgewählten politischen Forderungen abzugleichen. Dafür
      können sich Nutzer*innen durch 20 Thesen klicken, die verschiedene
      wichtige Themen der letzten Legislaturperiode abdecken. Im Unterschied zum
      Wahl-O-Mat, der sich auf eigene Aussagen der Parteien stützt, beruht der
      Real-O-Mat auf dem tatsächlichen Abstimmungsverhalten der
      Bundestagsfraktionen zu Anträgen und Gesetzentwürfen. Damit sollen
      Diskrepanzen zwischen dem tatsächlichen Abstimmungsverhalten der Parteien
      und den Aussagen in den Parteiprogrammen transparent gemacht werden.
    </p>

    <h3>Auswahl der Themen und Bewertung des Abstimmungsverhaltens</h3>

    <div class="lg:columns-2 gap-8">
      <p>
        Die Thesen des Real-O-Mat wurden aus Gesetzentwürfen und Anträgen
        abgeleitet, über die in der Legislaturperiode von September 2021 bis
        Dezember 2024 im Bundestag abgestimmt wurde. Dabei wurden Themen
        ausgewählt, die für breite Teile der Bevölkerung relevant sind und
        öffentlich diskutiert wurden.
      </p>
      <p>
        Da die Gesetzentwürfe und Anträge oftmals komplex sind, bilden die
        Thesen in der Regel nur einen Teilaspekt des jeweiligen Gesetzes bzw.
        Antrags ab. Um zu gewährleisten, dass sich die Partei nicht nur auf
        andere Aspekte des jeweiligen Antrags bezieht, wurden zusätzlich
        Beschlussempfehlungen und Plenardebatten herangezogen, um die genaue
        Positionierung der Partei zur These herauszuarbeiten. Diese sind im
        Reiter „Begründungen” aufgeführt.
      </p>
      <p>
        Gab es mehrere Abstimmungen zum gleichen Thema, wurde nur die inhaltlich
        passende Abstimmung in die These aufgenommen. Anträge, die aus
        strategischer Ablehnung eines Themas gestellt wurden, werden im
        Real-O-Mat nicht berücksichtigt.
      </p>
      <p>
        Der Großteil der Thesen basiert auf namentlichen Abstimmungen, sechs
        weitere auf nicht namentlichen. Quellen für die Thesen und die
        Bewertungen der Parteipositionierungen sind die Dokumente des
        Bundestages, insbesondere Gesetzentwürfe, Anträge, Beschlussempfehlungen
        und Plenarprotokolle. Diese sind zum Beleg der Thesen als Hyperlinks
        hinterlegt. In Einzelfällen wurden Internetseiten der Fraktionen für die
        Erläuterung der Positionierung genutzt.
      </p>
      <p>
        Der Real-O-Mat betrachtet das Abstimmungsverhalten der sieben
        Bundestagsfraktionen zu den ausgewählten Thesen. Hat eine Partei bei
        einer Abstimmung mehrheitlich für einen bestimmten Sachverhalt gestimmt,
        so wird dies als Zustimmung gewertet, auch wenn sich einzelne
        Abgeordnete enthalten oder den Gesetzentwurf abgelehnt haben.
        Entscheidend für die Realpolitik ist die Mehrheitsposition der
        jeweiligen Fraktion, da ein Grundprinzip im Bundestag die
        Fraktionsdisziplin ist.
      </p>
      <p>
        Der Real-O-Mat unterteilt das Abstimmungsverhalten der Parteien in drei
        Kategorien:
      </p>
      <ul class="list-disc ps-8 break-inside-avoid-column">
        <li>„richtig”</li>
        <li>„geht nicht weit genug”</li>
        <li>„geht zu weit”</li>
      </ul>
      <p><strong>Zustimmung</strong></p>
      <p>
        Hat eine Fraktion für einen Gesetzentwurf oder Antrag gestimmt, so wurde
        diese Zustimmung in Bezug auf die Thesen des Real-O-Mat als „richtig”
        bewertet.
      </p>
      <p><strong>Ablehnung</strong></p>
      <p>
        Hat eine Fraktion gegen einen Gesetzentwurf gestimmt oder sich
        enthalten, so wurde die Begründung der Fraktion ausgewertet. Die
        Begründungen der jeweiligen Parteien finden sich in der Regel in den
        Beschlussempfehlungen der jeweiligen Bundestagsausschüsse, in
        Parlamentsreden oder in Positionspapieren der Fraktionen. Wenn die
        Partei gegen ein Gesetz gestimmt hat, weil es ihr nicht weit genug ging,
        z.B. weil sie nicht nur eine einrichtungsbezogene, sondern eine
        allgemeine Impfpflicht fordert, wurde die Position der Partei mit „geht
        nicht weit genug” bewertet. Hat eine Fraktion ein Gesetz abgelehnt, weil
        es ihr zu weit geht, z.B. weil sie eine generelle Impfpflicht ablehnt,
        wurde die Position der Partei mit „geht zu weit” bewertet. Diese
        Unterscheidung soll eine präzisere Auswertung des Abstimmungsverhaltens
        ermöglichen.
      </p>
      <p>
        Die Antwortmöglichkeiten im Real-O-Mat basieren ausschließlich auf dem
        tatsächlichen existierenden Abstimmungsverhalten der Parteien. Wenn zum
        Beispiel keine einzige Fraktion einen Antrag mit der Begründung
        abgelehnt hat, dass er „zu weit“ geht, wird diese Antwortoption auch bei
        den Thesen nicht angezeigt.
      </p>
      <p>
        In seltenen Fällen lässt sich das Abstimmungsverhalten einer Fraktion
        nicht auf die konkrete These anwenden, etwa wenn eine Fraktion gegen den
        entsprechenden Antrag gestimmt oder sich enthalten hat, aber keine
        explizite Äußerung zum Inhalt der konkreten These gemacht hat. In diesem
        Fall ist die Parteiposition nicht wertbar und eine Übereinstimmung der
        Benutzerin mit dieser Partei bei der entsprechenden These nicht möglich.
      </p>
      <p>
        Da das Bündnis Sahra Wagenknecht erst ab Ende 2023 bzw. Anfang 2024 im
        Bundestag vertreten war, hat das BSW über einen großen Teil der Anträge
        nicht mit abgestimmt. In diesen Fällen ist eine Übereinstimmung mit dem
        BSW nicht möglich.
      </p>
    </div>

    <h3>Berechnung der Ergebnisse mit Beispielrechnung</h3>
    <div class="lg:columns-2 gap-8">
      <p>
        Die Ergebnisse im Real-O-Mat werden so berechnet, dass eine vollständige
        Übereinstimmung einer Nutzerin mit einer Partei bei einer bestimmten
        These zunächst mit 100 % gewertet wird. Gibt es keine Übereinstimmung –
        beispielsweise wenn die Nutzerin bei einer These zum Thema
        Cannabiskonsum „geht zu weit“ antwortet, während die SPD den
        Gesetzentwurf befürwortet hat – wird für diese These 0 % Übereinstimmung
        mit der SPD berechnet. Die Übereinstimmungen aller Thesen werden
        anschließend addiert und durch die Gesamtzahl der berücksichtigten
        Thesen geteilt.
      </p>
      <p>
        Wenn eine These für die Nutzerin besonders wichtig ist, kann sie diese
        doppelt gewichten, sodass die Position zu dieser Frage mit doppelter
        Gewichtung in das Endergebnis eingeht.
      </p>
      <p>
        Enthaltungen, aus denen sich keine klare Position ermitteln lassen
        konnte, und Fälle, in denen die Partei zum Zeitpunkt der Abstimmung noch
        nicht existierte, werden in der Berechnung als 0% Übereinstimmung
        gewertet.
      </p>
      <p>
        Überspringt die abstimmende Person eine These, so wird diese aus der
        Gesamtzahl der bewerteten Thesen herausgerechnet.
      </p>
      <table class="border-collapse my-4">
        <thead>
          <tr>
            <th></th>
            <th class="text-start">Nutzerin</th>
            <th class="text-start">Union</th>
            <th class="text-start">SPD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>These 1</td>
            <td>zu weit</td>
            <td>zu weit</td>
            <td>richtig</td>
          </tr>
          <tr>
            <td>These 2</td>
            <td>richtig</td>
            <td>nicht weit genug</td>
            <td>richtig</td>
          </tr>
          <tr>
            <td>These 3</td>
            <td>zu weit</td>
            <td>richtig</td>
            <td>zu weit</td>
          </tr>
          <tr>
            <td><strong>Ergebnis</strong></td>
            <td></td>
            <td>33 % = (1+0+0)/3</td>
            <td>67 % = (1+1+0)/3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Parteien</h3>

    <p>
      Der Real-O-Mat betrachtet das Abstimmungsverhalten der sieben
      Bundestagsfraktionen SPD, FDP, Bündnis 90/Die Grünen, CDU/CSU, Die Linke,
      BSW und AfD. Im Dezember 2023 löste sich die Fraktion Die Linke auf. Die
      Abgeordneten waren bis Januar 2024 fraktionslos im Bundestag vertreten. Ab
      dem 2. Februar 2024 bildete sich im Bundestag die Gruppe Die Linke und das
      Bündnis Sahra Wagenknecht (BSW). Bei Abstimmungen, die zwischen dem 7.
      Dezember 2023 und dem 31. Januar 2024 stattfanden, wurden die Abgeordneten
      der Partei zugeordnet, der sie ab Februar 2024 angehörten.
    </p>

    <p>
      Da das BSW erst ab Ende 2023 bzw. Februar 2024 aktiv war, gibt es von der
      Fraktion zu vielen Thesen keine wertbare Positionierung. Eine 100%ige
      Übereinstimmung mit einer Partei ist nur dann möglich, wenn man
      ausschließlich zu Forderungen abstimmt, bei denen auch die jeweilige
      Partei eine wertbare Position hat (und nicht wertbare übersprungen
      werden). Da das BSW erst ab Ende 2023 bzw. Februar 2024 im Bundestag aktiv
      war, gibt es von der Gruppe zu vielen Thesen keine wertbare
      Positionierung.
    </p>

    <h3>Daten herunterladen</h3>
    <p>
      Sie können hier die Thesen des Real-O-Mat im JSON-Format herunterladen.
      Die Daten stehen unter der Lizenz <a
        href="https://creativecommons.org/licenses/by-sa/4.0/deed.de"
        target="_blank"
        class="text-purple-600 underline hover:text-purple-700">CC-BY-SA 4.0</a
      >.
    </p>

    <DownloadData questions={questions} client:only="vue" />

    <h3>Team</h3>

    <p>
      Recherche: Anna-Lena Disterheft, Matthias Tasser, Katharina Ziegler (frei)
    </p>
    <p>Redaktion: Michelle Trimborn, Mattea Weihe (FragDenStaat)</p>
    <p>Technische Umsetzung: Max Kronmüller (FragDenStaat)</p>
    <p>
      Design und Kommunikation: <a
        href="https://kellerundlieder.de"
        target="_blank"
        class="text-purple-600 underline hover:text-purple-700"
        >Keller und Lieder</a
      >
    </p>
  </div>
</Layout>

<style>
  @reference "../assets/style.css";

  h3 {
    @apply mt-8 mb-2 text-lg font-medium md:text-xl;
  }

  p {
    @apply my-2;
  }

  th,
  td {
    @apply border border-solid border-gray-300 p-2;
  }
</style>
