---
import '../assets/style.css'
import SiteHeader from '../components/SiteHeader.vue'
import logo from '../assets/fragdenstaat.svg'

interface Props {
  isApp?: boolean
}
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>Real-O-Mat</title>
  </head>
  <body class="bg-blue-50 flex flex-col min-h-screen">
    <SiteHeader isApp={!!Astro.props.isApp} client:load />

    <div class="container mx-auto px-4">
      <main>
        <slot />
      </main>
    </div>

    <footer class="mt-auto pt-12">
      <div class="bg-gray-50">
        <div
          class="container mx-auto py-12 px-4 text-gray-600 flex max-md:flex-col items-center"
        >
          <div>
            <a href="https://fragdenstaat.de" target="_blank">
              <img src={logo.src} alt="Ein Projekt von FragDenStaat" />
            </a>
          </div>
          <ul class="flex space-x-6 max-md:mt-6 md:space-x-12 md:ms-auto">
            <li>
              <a href="methodik"> Methodik </a>
            </li>
            <li>
              <a href="https://fragdenstaat.de/impressum" target="_blank">
                Impressum
              </a>
            </li>
            <li>
              <a href="https://fragdenstaat.de/datenschutz" target="_blank">
                Datenschutz
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
